#include <windows.h>
#include "resource.h"

IDD_ACCOUNT_DIALOG DIALOGEX 0, 0, 260, 190
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_DLGMODALFRAME
CAPTION "Account Details"
FONT 9, "Segoe UI"
BEGIN
    LTEXT "Username:", -1, 10, 10, 60, 14
    EDITTEXT IDC_EDIT_USERNAME, 80, 10, 160, 14, ES_AUTOHSCROLL

    LTEXT "Alias:", -1, 10, 32, 60, 14
    EDITTEXT IDC_EDIT_ALIAS, 80, 30, 160, 14, ES_AUTOHSCROLL

    LTEXT "Group:", -1, 10, 54, 60, 14
    EDITTEXT IDC_EDIT_GROUP, 80, 52, 160, 14, ES_AUTOHSCROLL

    LTEXT "Description:", -1, 10, 76, 60, 14
    EDITTEXT IDC_EDIT_DESCRIPTION, 80, 74, 160, 40, ES_MULTILINE | ES_WANTRETURN | WS_VSCROLL | ES_AUTOVSCROLL

    LTEXT ".ROBLOSECURITY:", -1, 10, 120, 70, 14
    EDITTEXT IDC_EDIT_ROBLOSECURITY, 80, 118, 160, 14, ES_AUTOHSCROLL

    CONTROL "Favorite account", IDC_CHECK_FAVORITE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 10, 142, 160, 16

    DEFPUSHBUTTON "OK", IDOK, 70, 165, 60, 16
    PUSHBUTTON "Cancel", IDCANCEL, 150, 165, 60, 16
END

IDI_APP_ICON ICON "assets/icon.ico"

IDD_UPDATE_SETTINGS DIALOGEX 0, 0, 210, 140
STYLE DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Update Settings"
FONT 9, "Segoe UI"
BEGIN
    LTEXT "How often should updates be checked?", -1, 10, 10, 190, 12
    CONTROL "Everyday", IDC_RADIO_UPDATE_EVERYDAY, "Button", BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP, 20, 28, 120, 12
    CONTROL "Weekly", IDC_RADIO_UPDATE_WEEKLY, "Button", BS_AUTORADIOBUTTON, 20, 44, 120, 12
    CONTROL "Monthly", IDC_RADIO_UPDATE_MONTHLY, "Button", BS_AUTORADIOBUTTON, 20, 60, 120, 12
    CONTROL "Never", IDC_RADIO_UPDATE_NEVER, "Button", BS_AUTORADIOBUTTON, 20, 76, 120, 12
    DEFPUSHBUTTON "OK", IDOK, 60, 105, 40, 14
    PUSHBUTTON "Cancel", IDCANCEL, 110, 105, 40, 14
END
